/********************
YOUR STYLES
*******************/
body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0 auto;
    width: 60%;
}

figure {
    background: rgba(255,255,255,.85);
    width: 100%;
}

.city {
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
}

.day {
    margin: 0;
    text-align: center;
}

.temp,
h1 {
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

h1 {
    font-size: 7em;
    margin-top: 25px;
}

.sunny {
background: #F09819; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F09819 , #EDDE5D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
}

.cloudy {
background: #403B4A; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #403B4A , #E7E9BB); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #403B4A , #E7E9BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rainy {
background: url(../img/rain.png);
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}